rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in ['raicesm@gmail.com', 'elena.beccaro@gmail.com'];
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.auth.uid == userId;
    }
  }
}
